@import "color";
@mixin button-default($button-color,$button-font-color){
    position: relative;
    float: left;
    width: auto;
    padding: 5%;
    background-color:$button-color;
    color: $button-font-color;
}

.button-primary{
    @include button-default(lighten($first-color,20%),$first-font-color);

    &:hover{
        background-color:$first-color;
        color: $first-font-color;
    }
}

.button-secondary{
    @include button-default($second-color,$first-font-color);
    &:hover{
        background-color:$second-color;
        color: $first-font-color;
    }
}

.buton-tertiary{
    @include button-default($third-color,$first-font-color);
    &:hover{
        background-color:$third-color;
        color: $first-font-color;
    }
}
