@import "color";

body {
    &.castelinho {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        overflow-x: hidden;

        address {
            margin: 0;
        }

        .navbar-default {
            border-bottom: 5px solid $first-color;
            border-color: $first-color;
            border-radius: 0;
            margin: 0;

            .navbar-nav {
                li {
                    a {
                        &:hover, &:active,&:focus {
                            color: $first-color;
                        }
                    }
                }
            }
        }

        .carousel{
            &-indicators {
                li {
                    background-color: white;

                    &.active {
                        background-color: $first-color;
                    }
                }
            }

            &-control {
                width: 30%;
            }

            &-layout{
                position: relative;
            }
        }

        @media (max-width: 767px){
            address{
                border-bottom: 1px solid #fff;
                padding-bottom: 1%;
                margin-bottom: 1%;
            }

            .newsletter{
                .form{
                    &-group{
                        margin-top: 1%;
                    }

                    &-control{
                        width: auto;
                    }
                }
            }

        }

    }
}
