@import "color";

.bar {
    &-top {
        background-color: $first-color;
        width: 100%;
        position: relative;
        color: $first-font-color;
        padding: 1%;

        i, p {
            display: inline-block;
            margin: auto 2px auto 5px;
        }

        .social-icon {
            i {
                margin: auto 10px auto 10px;
            }
        }
    }
}

nav {
    position: relative;
    padding: 10px;

    ul {
        width: 100%;

        li {
            padding: 50px 5px;
            width: 14%;
            text-align: center;
            font-weight: bold;

            &:nth-child(4) {
                padding: 0;
                width: auto;
            }

            .btn-default {
                background-color: lighten($first-color, 20%);
                color: $first-font-color;
                width: auto;
                padding: 4%;
            }
        }
    }
}

.carousel-layout {
    .jumbotron{
        z-index: 100;
        position: absolute;
        background: transparent;
        color:$first-font-color;
        width: 42%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

            h1{
                font-size: 46px;
            }
            p{
                font-size: inherit;
            }
            a{
                background-color: lighten($first-color, 20%);
            }
    }
    img {
        width: 100%;
    }

    .controls {
        i {
            top: 50%;
            z-index: 9999;
            position: absolute;
            color: $first-font-color;
            left: 50%;
        }
    }
}

@media (max-width: 991px){
    nav {
        ul {
            li {
                width: 16%;
            }
        }
    }

    .carousel-layout{
        .jumbotron{
            h1{
                font-size: 25px;
            }

            p{
                max-width: 43ch;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}
